<div class="row white-box">
  <div class="col-md-3 col-sm-4">
    <select class="selectpicker" data-style="form-control">
                  <optgroup label="Picnic">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                  </optgroup>
                  <optgroup label="Camping">
                  <option>Tent</option>
                  <option>Flashlight</option>
                  <option>Toilet Paper</option>
                  </optgroup>
                </select>
  </div>
  <div class="col-md-3 col-sm-4">
    <select class="selectpicker" data-style="form-control">
                  <optgroup label="Picnic">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                  </optgroup>
                  <optgroup label="Camping">
                  <option>Tent</option>
                  <option>Flashlight</option>
                  <option>Toilet Paper</option>
                  </optgroup>
                </select>
  </div>
  <div class="col-md-3 col-sm-4">
    <select class="selectpicker" data-style="form-control">
                  <optgroup label="Picnic">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                  </optgroup>
                  <optgroup label="Camping">
                  <option>Tent</option>
                  <option>Flashlight</option>
                  <option>Toilet Paper</option>
                  </optgroup>
                </select>
  </div>
  <div class="col-md-3 col-sm-4">
    <div class="form-group">
                    <label class="control-label">Init </label>
                    <input id="tch3" type="text" value="" name="tch3" data-bts-button-down-class="btn btn-default btn-outline" data-bts-button-up-class="btn btn-default btn-outline">
                  </div>
  </div>
  <div class="col-md-3">
    
  </div>
</div>     


<!-- Receipt Start-->
      <div class="row">
        <div class="col-md-12">
          <div class="white-box">
            <h3><b>Receipt</b> <span class="pull-right">Receipt Id: #5669626</span></h3>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="pull-left">
                  <address>
                  <h3> &nbsp;<b class="text-danger">Adegoke David</b></h3>
                  <p class="text-muted m-l-5">No. 2 Tamandu Road, <br/>
                    Off Audu Bako Way, Kano <br/>
                    Kano, Nigeria <br/>
                    <span class="icon-phone"></span> +234-(0)-9037154836</p>
                  </address>
                </div>
                <div  class="pull-right text-right">
                  <address>
                  <h3>To,</h3>
                  <h4 class="font-bold">Adeojo M. Ayo & wives,</h4>
                  <p class="text-muted m-l-30">No. 5 Sambisa Forest, <br/>
                    Bauchi State, Nigeria<br/>
                    <span class="icon-phone"></span>+234-9028456482</p>
                  <p class="m-t-30"><b>Payment Date :</b> <i class="fa fa-calendar"></i> 23rd Jan 2016</p>
                  <p><b>Expected Collection Date :</b> <i class="fa fa-calendar"></i> 25th Jan 2016</p>
                  </address>
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-responsive m-t-40">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Description</th>
                        <th class="text-right">Size</th>
                        <th class="text-right">Brand</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Unit Cost</th>
                        <th class="text-right">Total</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">1</td>
                        <td>Milk Powder</td>
                        <td class="text-right">Big</td>
                        <td class="text-right">Dangote</td>
                        <td class="text-right">2 </td>
                        <td class="text-right"> &#8358; 24 </td>
                        <td class="text-right"> &#8358; 48 </td>
                      </tr>
                      <tr>
                        <td class="text-center">2</td>
                        <td>Air Conditioner</td>
                        <td class="text-right">Medium</td>
                        <td class="text-right">GoldenPenny</td>
                        <td class="text-right"> 3 </td>
                        <td class="text-right"> &#8358; 500 </td>
                        <td class="text-right"> &#8358; 1500 </td>
                      </tr>
                      <tr>
                        <td class="text-center">3</td>
                        <td>Generator</td>
                        <td class="text-right">Small</td>
                        <td class="text-right">TEC</td>
                        <td class="text-right"> 20 </td>
                        <td class="text-right"> &#8358; 600 </td>
                        <td class="text-right"> &#8358; 12000 </td>
                      </tr>
                      <tr>
                        <td class="text-center">4</td>
                        <td>Cement</td>
                        <td class="text-right">Big</td>
                        <td class="text-right">Elephant</td>
                        <td class="text-right"> 60 </td>
                        <td class="text-right">&#8358; 5 </td>
                        <td class="text-right"> &#8358; 300 </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-12">
                <div class="pull-right m-t-30 text-right">
                  <p>Sub - Total amount: &#8358; 13,848</p>
                  <p>vat (10%) : &#8358; 138 </p>
                  <hr>
                  <h3><b>Total :</b> &#8358; 13,986</h3>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="text-right">
                  <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                  <button onClick="javascript:window.print();" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .row -->
      <!-- /.row -->